.grid-container {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-template-rows: 150px 400px;
  grid-template-areas: "temp humidity" "forecast forecast";
  font-family: sans-serif;
  font-size: medium;
  font-weight: lighter;
  margin-left: 300px;
}

.temp {
  grid-area: temp;
  margin: 25px;
}

.humidity {
  grid-area: humidity;
  margin: 25px;
 }

.forecast {
  grid-area: forecast;
  margin: 25px;
  margin-top: 40px
  }

 #temp {
   font-size: 25px;
   font-weight: bold;
 }

 #icon[src] {
   width: 80px;
   height: 80px;
 }

 input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.enterForm {
  margin: 50px;
  margin-bottom: 15px;
  margin-left: 300px;
}

table, tr, td {
  border-collapse: collapse;
  padding: 5px;
}

#label {
  font-size: 35px;
  font-style: bold;
  text-decoration: underline
}
